<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorate="~{layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/source/css/main.css}">
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">

	<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img th:src="@{/source/img/}+${banner1.image}" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

				<div class="container">
					<div class="carousel-caption text-start">
						<h1 style="color:white" th:text="${banner1.title}"></h1>
						<p style="color:white" th:text="${banner1.content}"></p>
						<p><a class="btn btn-lg btn-primary" th:href="@{/common/recipeList(searchCondition='mater',searchKeyword='딸기')}">더 다양한 레시피 보기</a></p>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<img th:src="@{/source/img/}+${banner2.image}" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

				<div class="container">
					<div class="carousel-caption">
						<h1 style="color:white" th:text="${banner2.title}"></h1>
						<p style="color:white" th:text="${banner2.content}"></p>
						<p><a class="btn btn-lg btn-primary" href="/common/fundingList">현재 진행중인 펀딩</a></p>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<img th:src="@{/source/img/}+${banner3.image}" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

				<div class="container">
					<div class="carousel-caption text-end">
						<h1 style="color:white" th:text="${banner3.title}"></h1>
						<p style="color:white" th:text="${banner3.content}"></p>
						<p><a class="btn btn-lg btn-primary" href="#">이벤트 확인하기</a></p>
					</div>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
	<br>
	<div class="container marketing">

	<br>
		<!-- 로그인시 등록된 식재료로 추천메뉴 추천 -->
		<div class="row" sec:authorize="isAuthenticated()">
			<h3>맞춤형 추천 메뉴</h3>
			<th:block th:if="${#lists.isEmpty(recipe)}">
				<h4><a href="/myPage/insertMyMater">보유한 식자재를 등록해주세요</a></h4>
			</th:block>
			<th:block th:each="reci, index : ${recipe}">
			<div class="col-lg-4">
				<img class="bd-placeholder-img rounded-circle" width="140" height="140" th:src="@{/source/img/}+${reci.image}"></img>
				<h4 class="fw-normal" th:text="${reci.recipeTitle}"></h4>
				<p th:text="${reci.recipeDetail}"></p>
				<p><a class="btn btn-secondary" th:href="@{/common/getRecipe(recipeId=${reci.recipeId})}">View details &raquo;</a></p>
			</div><!-- /.col-lg-4 -->
			</th:block>
		</div><!-- /.row -->
		<hr class="featurette-divider">


		<!-- 메인 페이지 칼럼부분 -->
		<h2>식재료 컬럼</h2>
		<hr class="featurette-divider">
		<th:block th:each="col : ${column}">
		<div class="row featurette">

			<div class="col-md-7">
				<h3 th:text="${col.title}"></h3>
				<p class="lead" th:text="${col.content}"></p>
			</div>
			<div class="col-md-5">
				<img th:src="@{/source/img/}+${col.image}" width="320" height="280" focusable="false" object-fit="cover">
			</div>
		</div>

		<hr class="featurette-divider">
		</th:block>

		<!-- /END THE FEATURETTES -->

	</div>

</div>
</html>