<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--headerFragment 선언-->
<!-- 합쳐지고 최소화된 최신 CSS -->
<div>
  <ul class="pagination">

    <th:if test="${pageMaker.prev}">
      <li class="paginate_button previous">
        <a href="admin_product_list${pageMaker.makeQuery(pageMaker.startPage-1)}">[이전]</a>
      </li>
    </th:if>

    <!-- [1][2][3]... 표시 부분 -->
    <th:forEach begin="${pageMaker.startPage}" end="${pageMaker.endPage}" var="index">
      <a href="admin_product_list${pageMaker.makeQuery(index)}">[${index}]</a>
    </th:forEach>

    <th:if test="${pageMaker.next}">
      <li class="paginate_button next">
        <a href="admin_product_list${pageMaker.makeQuery(pageMaker.endPage+1)}">[다음]</a>
      </li>
    </th:if>

  </ul>
</div>
</html>