<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">
  <h1>페이지 구현</h1>

  <table th:align="center" border="1" cellpadding="0" cellspacing="0" width="700">
    <tr>
      <th bgcolor="orange" width="100">번호</th>
      <th bgcolor="orange" width="200">제목</th>
      <th bgcolor="orange" width="150">작성자</th>
      <th bgcolor="orange" width="150">등록일</th>
      <th bgcolor="orange" width="100">추천수</th>
    </tr>

    <tr th:each="board,state:${boardList}">
      <td th:text="${state.count}"></td>
      <td align="left"><a th:href="@{getBoard(board_id=${board.board_id})}" th:text="${board.board_title}"></a></td>
      <td th:text="${board.board_writer.nickName}"></td>
      <td th:text="${#dates.format(board.board_regedit, 'yyyy-MM-dd HH:mm:ss')}"></td>
      <td th:text="${board.board_liked}"></td>
    </tr>
  </table>
  <a th:href="@{/board/insertBoardForm}">새글 등록</a>
</div>
</html>