<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">

 <link rel="stylesheet" th:href="@{/source/css/funding.css}" >
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">
  <div class="b-example-divider"></div>

  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">진행중인 펀딩</h2>
    <div th:each="funding, state:${fundingList}">
      <div class="row">
        <div class="col-md-4">
          <div class="cause shadow-sm">

            <a th:href="@{/common/getFunding(fundId=${funding.fundId})}" class="cause-link d-block">
              <img th:src="@{/source/img/}+${funding.fundImage}" alt="Image" class="img-fluid">
              <div th:with="complete=${funding.fund}/${funding.goal}*100" class="custom-progress-wrap">
                <span class="caption">[[${complete}]]%완료</span>
                <div class="custom-progress-inner">
                  <div class="custom-progress bg-danger" th:style="${'width:'}+${complete}+'%'"></div>
                </div>
              </div>
            </a>

            <div class="px-3 pt-3 border-top-0 border border shadow-sm">
              <h3 class="mb-4"><a th:href="@{/common/getFunding(fundId=${funding.fundId})}" th:text="${funding.title}"></a></h3>
              <p class="text-end" th:text="'종료일 :'+${#dates.format(funding.finalDate, 'yyyy-MM-dd')}"></p>
              <div class="justify-content-between py-2 d-flex">
                <div>구매 금액</div>
                <div><strong class="text-primary" th:text="${#numbers.formatInteger(funding.fund,1,'COMMA')}"></strong>원</div>
                <div>목표 금액</div>
                <div><strong class="text-primary" th:text="${#numbers.formatInteger(funding.goal,1,'COMMA')}"></strong>원</div>
              </div>

              <div class="py-4">
                <div class="d-flex align-items-center">
                  <div class="">James Smith</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    </div>


  <div class="btn-toolbar mx-auto" role="toolbar" aria-label="Toolbar with button groups">
    <div class="col text-center">
      <div class="page-num"
           th:with="start=${(fundingList.number/10)*10 + 1},
                  end=(${(fundingList.totalPages == 0) ? 1 : (start + (10 - 1) < fundingList.totalPages ? start + (10 - 1) : fundingList.totalPages)})" >

        <button th:if="${start > 1}" type="button" class="btn btn-secondary" th:onclick="|location.href='@{/common/fundingList(page=0)}'|" th:text="'<<'"></button>
        <button th:if="${start > 1}" type="button" class="btn btn-secondary" th:onclick="|location.href='@{/common/fundingList(page=${start - 10})}'|" th:text="'<'"></button>
        <th:block th:each="page: ${#numbers.sequence(start, end)}">
          <button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/common/fundingList(page=${page-1})}'|" th:text="${page}"></button>
        </th:block>
        <button th:if="${end < fundingList.totalPages}" type="button" class="btn btn-secondary" th:onclick="|location.href='@{/common/fundingList(page=${start + 10})}'|" th:text="'>'"></button>
        <button th:if="${end < fundingList.totalPages}" type="button" class="btn btn-secondary" th:onclick="|location.href='@{/common/fundingList(page=${fundingList.totalPages-1})}'|" th:text="'>>'"></button>

      </div>
    </div>
  </div>
</div>
</html>