<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

</th:block>

<!-- Content -->
<div layout:fragment="content">
  <div class="container">
    <div class="col"> </div>
    <div class="col-10">
      <h2 th:align="center">구매 정보</h2>
      <br><br>
      <form method="post" th:action="@{/myPage/insertBuy}">
        <table id="cartTable" class="table table-striped table-hover">
          <tr>
            <th width="50">  </th>
            <th width="300">펀딩</th>
            <th width="300">상품명</th>
            <th width="100">구매갯수</th>
            <th width="150">가격</th>
          </tr>
          <th:block th:each="detail,state:${detailList}">
            <tr>
              <input type="hidden" name="details" th:value="${detail.buyDeId}">
              <td th:text="${state.count}"></th>
              <td th:text="${detail.fundingkit.funding.title}"></td>
              <td th:text="${detail.fundingkit.mealkit.kitName}"></td>
              <td th:text="${detail.quantity}"></td>
              <td th:text="${detail.fundingkit.mealkit.price * detail.quantity}"></td>
            </tr>
          </th:block>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td th:text = "|총금액: ${total}|"></td>
          </tr>
        </table>
        <div class="row">
          <div class="col-7" style="border: 1px solid blue">
            <h4>배송 정보</h4>
            <input type = checkbox id="myself" th:onchange="myself()">내 정보 입력
            <script th:inline="javascript">
              var memname = [[${member.name}]];
              var address = [[${member.address}]];
              var phone = [[${member.phone}]];


              $(document).ready(function(){
                $("#myself").change(function(){
                  if($("#myself").is(":checked")){
                    $('#name').val(memname);
                    $('#address').val(address);
                    $('#phone').val(phone);
                  }else{
                    $('#name').val('');
                    $('#address').val('');
                    $('#phone').val('');
                  }
                });
              });
            </script>
            <div class="input-group mb-3">
              <span class="input-group-text">받 는 사 람</span>
              <input type="text" th:name="rec_person" id="name" class="form-control" placeholder="이름">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">연 락 처</span>
              <input type="text" th:name="rec_phone" id="phone" class="form-control" placeholder="phone">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">주   소</span>
              <input type="text" th:name="rec_address" id="address" class="form-control" placeholder="address">
              <button class="btn btn-outline-secondary" type="button" id="2" onclick="">주소검색</button>
            </div>
          </div>
          <div class="col-5" style="border: 1px solid red">
            <h4>결제 정보</h4>
            <div>
              <span th:text="|총금액: ${#numbers.formatInteger(total,1,'COMMA')}|"></span>
            </div>
            <div>
              결제 방법<br/>
              <input type="radio" name="payment" value="account" checked="checked">무통장거래
              <input type="radio" name="payment" value="card">카드 결제
              <input type="radio" name="payment" value="3rdPayment">간편 결제
            </div>
            <br><hr><br>
            <button type="submit">결제하기</button>

          </div>
        </div>
        <input type="hidden" name="totalPrice" th:value="${total}">
        <br>
        <hr>

      </form>
    </div>
  </div>


</div>
</html>